# User's specifics
*.env

# Dependencies
node_modules/
functions/node_modules/

# Firebase
.firebase/
firebase-debug.log
firebase-debug.log.*
firestore-debug.log
ui-debug.log

# System
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs
*.njsproj
*.sln
*.swp
